.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.controlRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown {
  margin-left: auto;
  max-width: 500px;
}

